<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%=listing.title%>"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div class="valid-feedback">Title Looks Good</div>
      <div class="invalid-feedback">Please enter a Title</div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%=listing.description%></textarea
        >
      </div>
      <div class="invalid-feedback">Please enter a short Description</div>

      <div class="mb-3">
        Original Listing Image
        <br />
        <img src="<%= originalImageUrl %>" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            value="<%=listing.price%>"
            type="number"
            class="form-control"
            required
          />
        </div>
        <div class="invalid-feedback">Please enter a Price</div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%=listing.country%>"
            type="text"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="invalid-feedback">Please enter a Country name</div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          value="<%=listing.location%>"
          type="text"
          class="form-control"
        />
      </div>
      <div class="invalid-feedback">Please enter a location name</div>

      <label for="category" class="form-label">Category</label>
      <select
        class="form-select mb-3"
        id="category"
        name="listing[category]"
        required
      >
        <option value="<%= listing.category %>" selected>
          <%= listing.category.split('-').map(word =>
          word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>
        </option>
        <option value="trending">Trending</option>
        <option value="rooms">Rooms</option>
        <option value="iconic-cities">Iconic Cities</option>
        <option value="mountain">Mountain</option>
        <option value="castle">Castle</option>
        <option value="amazing-pools">Amazing Pools</option>
        <option value="camping">Camping</option>
        <option value="farms">Farms</option>
        <option value="arctic">Arctic</option>
        <option value="doms">Doms</option>
        <option value="boats">Boats</option>
      </select>
      <div class="invalid-feedback">Please Select the Category</div>

      <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
  </div>
</div>
